@model LanguageSchool.Data.Enrollment

@{
    ViewData["Title"] = "Create";
}

<h1>Създай</h1>

<h4>Записани курсове</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="SchoolYearId" class="control-label">Учебна година</label>
                <select asp-for="SchoolYearId" class ="form-control" asp-items="ViewBag.SchoolYearId"></select>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="Result" class="control-label">Резултат</label>
                    <input asp-for="Result" class="form-control" />
                    <span asp-validation-for="Result" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SertificatId" class="control-label">Номер на серификат</label>
                    <input asp-for="SertificatId" class="form-control" />
                    <span asp-validation-for="SertificatId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                    <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
