@{
    ViewData["Title"] = "Информация";
}

<div class="background">
<div class="container">
    <div class="image2">
        <img src="https://studenttorget.no/UserFiles/content/Bilder/hjemmefra%20ny%20topp.jpg">
    </div>
    <div class="text2">
        <h1>Езикова школа MultiLanguage</h1>
        <h3>предлага индивидуални и групови уроци по различни езици, с цел да Ви помогнем да придобиете и подобрите уменията си в чужд език.
            Нашите квалифицирани преподаватели ще Ви помогнат да постигнете Вашите цели в удобно за Вас време и място.
            Заповядайте да се запознаете с нашата оферта и да започнете ново пътешествие към владеенето на чужд език!
        </h3>
        <br />
        <h1>Защо да учим чужд език?</h1>
        <br />
        <h3>Ученето на чужди езици е полезно по много причини. То може да отвори врати за нови възможности в личния и професионалния живот. 
            Владеенето на чужд език може да улесни комуникацията с хора от други култури, да разшири кръга от приятели и да предостави възможности за пътуване. Това също така може да подобри когнитивните умения, като паметта, вниманието и решаването на проблеми. В бизнеса уменията по чужд език са високо ценени и могат да доведат до повишаване на професионалните възможности и заплащане.
        В крайна сметка, ученето на чужди езици може да бъде забавно и изпълнено с нови открития и предизвикателства.</h3>
        <h1>
            Контакти:
        </h1>
        <br/>
        <h3>
            Телефон:0896686695
        </h3>
        <br />
        <h3>
            e-mail:lgschool@gmail.com
        </h3>  
        <br />
        <h3>
        Адрес:171 ул. „Хаджи Мано Стоянов“
        </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9857.907602896652!2d23.294998149227382!3d42.72968528874848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa901ba24322df%3A0x89dc9291e079185b!2z0YPQuy4g4oCe0J3QuNC60L7Qu9CwINCa0L7RgtC60L7QsuKAnCwgMTIyMCDQti7Qui4g0J3QsNC00LXQttC00LAgMSwg0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1684665393397!5m2!1sbg!2sbg" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <br />
        <br />
        <br />
    </div>
</div>
</div>