@model IEnumerable<LanguageSchool.Data.Category>

@{
    ViewData["Title"] = "Категории";
}
<div class="background">
<h1>Категории</h1>

<p>
    <a asp-action="Create" class="material-symbols-outlined">library_add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Име
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="material-symbols-outlined">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id"class="material-symbols-outlined">Info</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="material-symbols-outlined">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>